= form_for @airport do |f|
  - if @airport.errors.any?
    #error_explanation
      %h2= "#{pluralize(@airport.errors.count, "error")} prohibited this airport from being saved:"
      %ul
        - @airport.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
